node_modules/
/node_modules
**/node_modules
**/node_modules/
**/Form-Service.pem
Form-Service.pem

**/Form-Database.pem
Form-Database.pem

**/Form-Proxy.pem
Form-Proxy.pem

**/*.pem
**/**.pem
*.pem
**.pem

**/pem.txt
pem.txt